.button__edit {
  margin-left: 22px;
  width: 24px;
  height: 24px;
  background: url(../../../images/edit-button.svg) no-repeat center / contain;
}

@media screen and (max-width: 425px) {
  .button__edit {
    width: 18px;
    height: 18px;
    margin-left: 12px;
  }
}