.button_type_delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  visibility: hidden;
  background: url(../../../images/delete-button.svg) no-repeat center / contain;
}